.galeryPage .galery {
  width: 100%;
}

.galeryPage .galery .container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.galeryPage .galery .container .album {
  margin: 5px;
  position: relative;
}

.galeryPage .galery .container .album a {
  width: 100%;
  line-height: 40px;
  color: #ff285c;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 10px;
  text-decoration: none;
}

.galeryPage .galery .container .album a:hover {
  background-color: rgba(0, 0, 0, 0.9);
  transition: 0.3s;
}

.galeryPage .galery .container .album img {
  width: 100%;
  max-width: 300px;
  height: 155px;
  z-index: 5;
}
