.institucionalPage .pageTitle {
  text-align: center;
  margin: 30px auto;
}

.institucionalPage .card .container h2 {
  text-align: center;
  margin: 30px auto;
}

.institucionalPage .card .container img {
  width: 50%;
}

.institucionalPage .card .container p {
  text-align: center;
  color: #ffffff;
}
