.desktopHeader {
  width: 100%;
}

.desktopHeader .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.desktopHeader .container img {
  width: 200px;
  margin-right: 10px;
}

.desktopHeader .container .title {
  text-align: center;
}

.desktopHeader .container .title h1,
.desktopHeader .container .title h2 {
  color: #000000;
  font-size: 1.3rem;
}

.desktopHeader .menu {
  background-color: #18191a;
  padding: 10px 0;
}

.desktopHeader .menu .container nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.desktopHeader .menu .container nav ul {
  list-style: none;
  display: flex;
}

.desktopHeader .menu .container nav ul li {
  font-size: 1.3rem;
  margin-right: 10px;
}

.desktopHeader .menu .container nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

.desktopHeader .menu .container nav ul li a:hover {
  transition: 0.3s;
  color: #ff285c;
}
