.rankingPage main h1 {
  text-align: center;
  margin: 30px;
}
.rankingPage main .card .container {
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}


